<div class="h-[72px] border-b border-erp-gray-100 flex flex-row justify-between items-center px-8">
  <div class="flex flex-row justify-start items-center gap-12">
    <a routerLink="/">
      <img src="assets/images/target-logo.svg" alt="logo" class="h-8" />
    </a>
  </div>
  
  <button 
    class="group relative w-6 h-6" 
    (click)="toggleNavMenu()"
  >
    <div 
      class="absolute top-1/4 w-full h-[2px] bg-erp-gray-500 group-hover:bg-erp-gray-900 transition-all"
      [ngClass]="{ 'rotate-45 top-1/2': isNavMenuOpen, 'rotate-0 top-1/4': !isNavMenuOpen }"
    ></div>
    <div 
      class="absolute top-1/2 w-full h-[2px] bg-erp-gray-500 group-hover:bg-erp-gray-900 transition-all"
      [ngClass]="{ 'opacity-0': isNavMenuOpen, 'opacity-100': !isNavMenuOpen }"
    ></div>
    <div 
      class="absolute top-3/4 w-full h-[2px] bg-erp-gray-500 group-hover:bg-erp-gray-900 transition-all"
      [ngClass]="{ '-rotate-45 top-1/2': isNavMenuOpen, 'rotate-0 top-3/4': !isNavMenuOpen }"
    ></div>
  </button>
</div>