<div class="flex items-center justify-center fixed top-0 right-0 bottom-0 left-0">
    <div>
        <div class="flex justify-center mb-8">  
            <img src="assets/images/target-logo.svg">
        </div>
        <div class="rounded-xl overflow-hidden shadow-none py-5 px-5 lg:shadow-2xl">
        <div class="flex items-center justify-center mb-10 mt-10">
            <div>
            <div class="text-center">
                <p class="text-4xl font-semibold text-erp-gray-900">Sign up</p>
            </div>
            <div class="text-center">
                <p class="text-erp-gray-500 mt-4">Create your Account! Please enter your details.</p>
            </div>
            </div>
        </div>
        <div class="input-text">
            <p class="text-sm text-erp-gray-700">Name</p>
            <input [(ngModel)]="username" type="text" placeholder="Juan Dela Cruz" class="placeholder:text-erp-gray-500 w-full py-1 pl-2 ml-1 mt-2.5 border border-solid rounded-lg border-erp-gray-300">
        </div>
        <div class="input-text mt-2.5">
            <p class="text-sm text-erp-gray-700">Email</p>
            <input [(ngModel)]="email" type="text" placeholder="Enter your email" class="placeholder:text-erp-gray-500 w-full py-1 pl-2 ml-1 mt-2.5 border border-solid rounded-lg border-erp-gray-300">
        </div>
        <div class="input-text mt-2.5">
            <p class="text-sm text-erp-gray-700">Password</p>
            <input [(ngModel)]="password" type="password" placeholder="******" class="placeholder:text-erp-gray-500 w-full py-1 pl-2 ml-1 mt-2.5 border border-solid rounded-lg border-erp-gray-300">
        </div>
        <div class="input-text mt-2.5">
            <p class="text-sm text-erp-gray-700">Confirm Password</p>
            <input [(ngModel)]="re_password" type="password" placeholder="******" class="placeholder:text-erp-gray-500 w-full py-1 pl-2 ml-1 mt-2.5 border border-solid rounded-lg border-erp-gray-300">
        </div>
        <div class="mt-4 ml-1">
            <button (click)="register()" class="w-full bg-erp-primary-600 border-none rounded-lg py-2">
            <span class="text-white">Sign up</span>
            </button>
        </div>
        </div>
    </div>
  </div>
  