<top-nav></top-nav>
<div class="flex flex-col justify-start items-start lg:flex-row lg:justify-between lg:items-center gap-1 px-6 py-4">
  <div>
    <span *ngIf="workspaceName === ''">
      <h2 class="text-2xl font-semibold">Untitled</h2>
    </span>
    <span *ngIf="workspaceName !== ''">
      <h2 class="text-2xl font-semibold">{{ workspaceName }}</h2>
    </span>
  </div>
  <div class="flex gap-2">
    <button class="flex items-center bg-gray-900 text-white rounded-lg py-2 px-4">
      <i class="ph ph-plus mr-2"></i>
      <button class="font-medium text-sm">Add Workspace</button>
    </button>
    <button class="bg-gray-900 text-white px-4 py-2 flex flex-row justify-start items-center gap-2 rounded-lg"
      (click)="openDialog()">
      <i class="ph ph-plus"></i>
      <button class="font-medium text-sm">Create ticket</button>
    </button>
  </div>
</div>




<!-- Display stages and their tickets -->
<div *ngIf="stages.length === 0">
  <div class="flex items-center justify-center pt-56">
    <img src="assets/images/empty.svg" class="h-40">
    <div>
      <p>Hmm, nothing here!</p>
      <p>Sadly, you should at least create your first stage.</p>
    </div>
  </div>
</div>

<div class="px-6 py-4 flex gap-3">
  <div *ngFor="let stage of stages" class="">
    <p class="text-xs uppercase w-[400px] mb-2">{{ stage.stage_name }}</p>
    <div cdkDropList [cdkDropListData]="stage.tickets" [id]="stage.stages_ID" class="bg-erp-gray-50 p-1" (cdkDropListDropped)="drop($event, stage)">
      <ng-container *ngFor="let ticket of stage.tickets">
        <div class="shadow-lg p-4 bg-white mb-2 rounded-xl" cdkDrag>
          <h4>{{ ticket.title }}</h4>
          <p>{{ ticket.description }}</p>
          <p>Assignee: {{ ticket.assignee }}</p>
          <p>Due Date: {{ ticket.due_date }}</p>
          <p>Priority: {{ ticket.priority }}</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>

