<div
  [ngClass]="{ matDialogContent: !isMobile }"
  class="p-[1rem] rounded-lg max-md:h-[30rem]"
>
  <div class="flex justify-center items-center">
    <div class="w-[320px] lg:w-[1013px] bg-white">
      <div class="flex items-center justify-between mb-5">
        <div class="flex items-center">
          <!-- BLANK -->
        </div>
        <div class="flex items-center">
          <button mat-dialog-close>
            <svg
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11 1L1 11M1 1L11 11"
                stroke="#667085"
                stroke-width="1.66667"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
      </div>

      <div class="lg:flex justify-between lg:px-4 px-0 gap-10">
        <div class="w-[60%] h-[380px] max-lg:w-full">
          <div>
            <div>
              <p class="text-erp-gray-900 pb-1 text-xl font-semibold">
                Title
              </p>
              <input
                [(ngModel)]="title"
                type="text"
                placeholder="Add Title"
                class="w-full text-sm p-4 mb-5 rounded-xl border-erp-gray-200 border border-solid"
              />
            </div>
            <div class="border-b border-solid border-erp-gray-200 pb-5 text-lg">
              <p class="text-erp-gray-900 text-lg pb-1 font-semibold">
                Description
              </p>
              <input
                [(ngModel)]="description"
                type="text"
                placeholder="Add more detailed description"
                class="w-full text-sm p-4 rounded-xl border-erp-gray-200 border border-solid"
              />
            </div>
            <div class="pt-5">
              <p class="text-erp-gray-900 text-lg font-semibold">Attachments</p>
            </div>

            <label
              class="custum-file-upload h-[200px] w-full rounded-xl flex flex-col gap-[20px] cursor-pointer items-center justify-center border border-erp-gray-200 bg-white p-[1.5rem]"
              for="file"
            >
              <div class="icon">
                <div class="flex items-center justify-center">
                  <div class="bg-upload bg-cover h-[50px] w-[50px]"></div>
                </div>
              </div>
              <div class="text flex flex-col items-center justify-center">
                <div class="flex gap-[5px]">
                  <p
                    class="text-erp-primary-700 text-[14px] font-medium max-sm:text-[12px]"
                  >
                    Click to upload
                  </p>
                  <p class="text-[14px] text-erp-gray-500 max-sm:text-[12px]">
                    or drag and drop
                  </p>
                </div>
                <p class="text-[12px] text-erp-gray-500">
                  SVG, PNG, JPG or GIF (max. 800x400px)
                </p>
              </div>
              <input [(ngModel)]="attachments" type="file" id="file" />
            </label>
          </div>
        </div>

        <div
          class="w-[40%] max-lg:w-full rounded-xl mt-16 lg:mt-0 bg-erp-gray-50 p-6"
        >
          <div>
            <p class="text-erp-gray-400 text-sm font-normal">Assignee</p>
          </div>
          <div class="flex items-center mt-2">
            <div>
              <ng-container *ngIf="users && users.length > 0">
                <p>Select a user:</p>
                <!-- <select [(ngModel)]="selectedUser" (change)="onChangeUser($event.target.value)">
                  <option *ngFor="let user of users" [value]="user">
                    <img class="avatar-img" [src]="user.avatarImagePath" alt="Avatar">
                    <span>{{ user.first_name }}</span>
                  </option>
                </select> -->
              </ng-container>
              <div class="relative inline-block text-left text-gray-500 text-sm font-medium" *ngIf="!users || users.length === 0">
                <p>No users found</p>
              </div>
            </div>
          </div>
          <div class="mt-2">
            <p class="text-erp-gray-400 text-sm font-normal mb-2">Date created</p>
            <div class="flex">
            <svg
              width="18"
              height="20"
              viewBox="0 0 18 20"
              fill="none"
              class="text-erp-gray-400"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.3333 1.66675V5.00008M5.66667 1.66675V5.00008M1.5 8.33342H16.5M3.16667 3.33341H14.8333C15.7538 3.33341 16.5 4.07961 16.5 5.00008V16.6667C16.5 17.5872 15.7538 18.3334 14.8333 18.3334H3.16667C2.24619 18.3334 1.5 17.5872 1.5 16.6667V5.00008C1.5 4.07961 2.24619 3.33341 3.16667 3.33341Z"
                class="stroke-current"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <p class="pl-3 text-erp-gray-400 font-medium text-sm">{{ currentDate | date: 'MMM d, yyyy' }}</p>
            </div>
          </div>
          <div class="mt-2">
            <p class="text-erp-gray-400 text-sm font-normal mb-2">Due Date</p>
            <div class="flex items-center">
              <div class="custom-datepicker-toggle mr-3 flex items-center" (click)="dp.open()">
                <div class="matDatepickerToggleIcon">
                  <svg
                    width="18"
                    height="20"
                    viewBox="0 0 18 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.3333 1.66675V5.00008M5.66667 1.66675V5.00008M1.5 8.33342H16.5M3.16667 3.33341H14.8333C15.7538 3.33341 16.5 4.07961 16.5 5.00008V16.6667C16.5 17.5872 15.7538 18.3334 14.8333 18.3334H3.16667C2.24619 18.3334 1.5 17.5872 1.5 16.6667V5.00008C1.5 4.07961 2.24619 3.33341 3.16667 3.33341Z"
                      stroke="#344054"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
                <input matInput [matDatepicker]="dp" [formControl]="date" class="bg-transparent text-erp-gray-500 font-medium text-sm pointer-events-none">
                <mat-datepicker #dp></mat-datepicker>
            </div>
          </div>
          
          <div class="mt-2">
            <p class="text-erp-gray-400">Priority</p>
            <div class="priority relative inline-block text-left">
              <div class="flex items-center">
                <button
                  (click)="toggleDropDownPriority()"
                  type="button"
                  class="flex items-center gap-1 py-2 text-sm font-semibold text-gray-900"
                  id="menu-button"
                  >
                  <div [ngClass]="{
                    'flex items-center justify-center gap-[4px] bg-[#f8f9fc] w-fit rounded-xl': priority == 'Low',
                    'flex items-center justify-center gap-[4px] bg-[#eff8ff] w-fit rounded-xl': priority == 'Medium',
                    'flex items-center justify-center gap-[4px] bg-[#fffaeb] w-fit rounded-xl': priority == 'High',
                    'flex items-center justify-center gap-[4px] bg-[#fef3f2] w-fit rounded-xl': priority == 'Urgent',
                    }">
                    <div class="flex items-center">
                      <i [ngClass]="{
                        'ph-bold ph-caret-down text-xs font-black text-[#363f72] mr-1': priority == 'Low',
                        'ph-fill ph-dot-outline text-xs font-black text-[#175cd3] mr-1': priority == 'Medium',
                        'ph-bold ph-caret-up text-xs font-black text-[#e1840c] mr-1': priority == 'High',
                        'ph-bold ph-caret-double-up text-xs font-black text-[#f04438] mr-1': priority == 'Urgent',
                        }">
                      </i>
                      <p
                      [ngClass]="{
                        'text-[#363f72] text-sm font-medium' : priority == 'Low',
                        'text-[#175cd3] text-sm font-medium': priority == 'Medium',
                        'text-erp-warning-700 text-sm font-medium': priority == 'High',
                        'text-[#b42318] text-sm font-medium': priority == 'Urgent',
                        'text-erp-gray-500 text-sm font-medium': priority == '',
                        }"
                        >
                        {{ priority || 'Select priority' }}
                        
                      </p>
                    </div>
                  </div>
                </button>
              </div>
              <div
              class="priority-icon absolute hidden bg-white lg:right-[-10] ml-[-18px] lg:ml-[-0px] z-50 mt-2 w-[300px] h-fit origin-top-right rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              [class.!flex]="isDropdownPriorityOpen"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="menu-button"
            >
              <div class="flex flex-col w-full" role="none">
                <button class="hover:bg-gray-50" (click)="updateSelectedPriority('Low')">
                <div class="flex items-center gap-[4px] bg-[#f8f9fc] px-[10px] py-[2px] w-fit my-[10px] mx-[14px] rounded-xl">
                    <i class="ph-bold ph-caret-down text-[12px] font-black text-[#363f72]"></i>
                    <p class="text-[#363f72] text-[14px] font-medium">Low</p>
                </div>
              </button>
              <button class="hover:bg-gray-50" (click)="updateSelectedPriority('Medium')">
                <div class="flex items-center justify-center gap-[4px] bg-[#eff8ff] px-[10px] py-[2px] w-fit my-[10px] mx-[14px] rounded-xl">
                    <i class="ph-fill ph-dot-outline text-[12px] font-black text-[#175cd3]"></i>
                    <p class="text-[#175cd3] text-[14px] font-medium">Medium</p>
                </div> 
              </button>
              <button class="hover:bg-gray-50" (click)="updateSelectedPriority('High')">
                <div class="flex items-center justify-between pr-[14px]">
                <div class="flex items-center gap-[4px] bg-[#fffaeb] px-[10px] py-[2px] w-fit my-[10px] mx-[14px] rounded-xl">
                  <i class="ph-bold ph-caret-up text-[12px] font-black text-[#e1840c]"></i>
                  <p class="text-erp-warning-700 text-[14px] font-medium">High</p>
              </div>
              <i class="ph ph-check"></i>
            </div> 
          </button>
          <button class="hover:bg-gray-50" (click)="updateSelectedPriority('Urgent')">
                <div class="flex items-center justify-center gap-[4px] bg-[#fef3f2] px-[10px] py-[2px] w-fit my-[10px] mx-[14px] rounded-xl">
                    <i class="ph-bold ph-caret-double-up text-[12px] font-black text-[#f04438]"></i>
                    <p class="text-[#b42318] text-[14px] font-medium">Urgent</p>
                </div> 
              </button>      
              </div>
            </div>
            </div>
          </div>

          <div class="mt-4 border border-solid border-erp-gray-200"></div>
          <div class="mt-6">
            <p class="mb-2">Cover</p>

            <label
              class="custum-file-upload h-[100px] w-full rounded-xl flex flex-col gap-[5px] cursor-pointer items-center justify-center border border-erp-gray-200 bg-white p-[1.5rem]"
              for="file"
            >
              <div class="icon">
                <div class="flex items-center justify-center">
                  <div class="bg-upload bg-cover h-[40px] w-[40px]"></div>
                </div>
              </div>
              <div class="text flex flex-col items-center justify-center">
                <div class="flex gap-[5px]">
                  <p class="text-erp-primary-700 text-[14px] font-medium">
                    Add file
                  </p>
                  <p class="text-[14px] text-erp-gray-500">or drag files</p>
                </div>
              </div>
              <input type="file" id="file" />
            </label>
          </div>
          <div class="mt-8 lg:flex items-center lg:content-between gap-12 lg: w-full">
            <div>                 
                <button class="text-sm font-medium flex items-center gap-2 text-erp-gray-500 rounded-sm w-full" (click)="openDialog()">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.58979 11.4101L12.6283 7.37166M16.7594 4.90707L13.3505 15.9859C13.045 16.9787 12.8922 17.4754 12.6287 17.64C12.4001 17.7828 12.1172 17.8067 11.8683 17.7034C11.5813 17.5843 11.3483 17.1193 10.8836 16.1898L8.72448 11.8716C8.65073 11.7241 8.61382 11.6507 8.56457 11.5868C8.52085 11.53 8.47041 11.479 8.4137 11.4352C8.35125 11.3871 8.27904 11.351 8.13813 11.2806L3.80993 9.11646C2.8805 8.65175 2.41575 8.41918 2.29666 8.13216C2.19338 7.88325 2.21693 7.60003 2.35973 7.37148C2.52439 7.10795 3.02102 6.95486 4.01419 6.64927L15.093 3.2404C15.8738 3.00015 16.2644 2.88012 16.5281 2.97695C16.7578 3.06128 16.9389 3.24221 17.0233 3.47193C17.12 3.73553 16.9999 4.12589 16.7599 4.90591L16.7594 4.90707Z" stroke="#667085" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  Submit this ticket
                </button>
            </div>
            <!-- <div class="lg:mt-0 mt-2">
              <button class="flex items-center px-2 py-2 bg-green-50 rounded-lg w-full">
                <i class="ph-fill ph-check-circle h-5 flex items-center text-green-500"></i>
              <button class="text-green-500 ml-2 w-full">
                Submit ticket
              </button>
            </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
