  .custum-file-upload .text span {
    
    color: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload input {
    display: none;
  }

  ::ng-deep .mat-calendar-body-selected{
    background-color: #4A2B87 !important;
  }