<div
  [ngClass]="{ matDialogContent: !isMobile }"
  class="p-[1rem] rounded-lg max-md:h-[30rem]"
>
  <div class="flex justify-center items-center">
    <div class="w-[320px] lg:w-[1013px] bg-white">
      <div class="flex items-center justify-between mb-5">
        <div class="flex items-center">
          <!-- BLANK -->
        </div>
        <div class="flex items-center">
          <svg
            width="16"
            height="4"
            viewBox="0 0 16 4"
            class="mr-5"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.99992 2.83341C8.46016 2.83341 8.83325 2.46032 8.83325 2.00008C8.83325 1.53984 8.46016 1.16675 7.99992 1.16675C7.53968 1.16675 7.16659 1.53984 7.16659 2.00008C7.16659 2.46032 7.53968 2.83341 7.99992 2.83341Z"
              stroke="#667085"
              stroke-width="1.66667"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M13.8333 2.83341C14.2935 2.83341 14.6666 2.46032 14.6666 2.00008C14.6666 1.53984 14.2935 1.16675 13.8333 1.16675C13.373 1.16675 12.9999 1.53984 12.9999 2.00008C12.9999 2.46032 13.373 2.83341 13.8333 2.83341Z"
              stroke="#667085"
              stroke-width="1.66667"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M2.16659 2.83341C2.62682 2.83341 2.99992 2.46032 2.99992 2.00008C2.99992 1.53984 2.62682 1.16675 2.16659 1.16675C1.70635 1.16675 1.33325 1.53984 1.33325 2.00008C1.33325 2.46032 1.70635 2.83341 2.16659 2.83341Z"
              stroke="#667085"
              stroke-width="1.66667"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <button mat-dialog-close>
            <svg
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11 1L1 11M1 1L11 11"
                stroke="#667085"
                stroke-width="1.66667"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
      </div>

      <div class="lg:flex justify-between lg:px-4 px-0 gap-10">
        <div class="w-[60%] h-[380px] max-lg:w-full">
          <div>
            <div>
              <p class="text-erp-gray-900 text-xl pb-5 font-semibold">
                Blog Graphic: Predictions
              </p>
            </div>
            <div class="border-b border-solid border-erp-gray-200 pb-5 text-lg">
              <p class="text-erp-gray-900 text-lg pb-1 font-semibold">
                Description
              </p>
              <input
                type="text"
                placeholder="Add more detailed description"
                class="w-full text-sm p-4 rounded-xl border-erp-gray-200 border border-solid"
              />
            </div>
            <div class="pt-5">
              <p class="text-erp-gray-900 text-lg font-semibold">Attachments</p>
            </div>

            <label
              class="custum-file-upload h-[200px] w-full rounded-xl flex flex-col gap-[20px] cursor-pointer items-center justify-center border border-erp-gray-200 bg-white p-[1.5rem]"
              for="file"
            >
              <div class="icon">
                <div class="flex items-center justify-center">
                  <div class="bg-upload bg-cover h-[50px] w-[50px]"></div>
                </div>
              </div>
              <div class="text flex flex-col items-center justify-center">
                <div class="flex gap-[5px]">
                  <p
                    class="text-erp-primary-700 text-[14px] font-medium max-sm:text-[12px]"
                  >
                    Click to upload
                  </p>
                  <p class="text-[14px] text-erp-gray-500 max-sm:text-[12px]">
                    or drag and drop
                  </p>
                </div>
                <p class="text-[12px] text-erp-gray-500">
                  SVG, PNG, JPG or GIF (max. 800x400px)
                </p>
              </div>
              <input type="file" id="file" />
            </label>
          </div>
        </div>

        <div
          class="w-[40%] max-lg:w-full rounded-xl mt-16 lg:mt-0 bg-erp-gray-50 p-6"
        >
          <div class="flex items-center">
            <!-- <div class="border-erp-gray-300 rounded-lg border border-solid p-2 bg-white"> -->
            <!-- {{ticket.stopwatchSeconds}} -->
            <!-- <app-stopwatch></app-stopwatch> -->
            <div
              class="stopwatch flex justify-center items-center px-[14px] py-[10px] w-[96px] border-2 border-erp-gray-200 h-[40px] rounded-lg"
            >
              <p class="text-erp-gray-900">00:00:00</p>
            </div>
          </div>
          <div class="mt-4">
            <p class="text-erp-gray-400 text-sm">Assignee</p>
          </div>
          <div class="flex items-center mt-4">
            <div>
              <!-- <ng-container let user for user>
                                {{user.avatarImagePath}}
                                <p>{{user.name}}</p>
                            </ng-container> -->
              <div class="relative inline-block text-left">
                <div>
                  <button
                    (click)="toggleDropDown()"
                    type="button"
                    class="flex gap-x-1.5 py-2 items-center hover:bg-gray-50"
                    id="menu-button"
                    aria-expanded="true"
                    aria-haspopup="true"
                  >
                  <div class="bg-avatar bg-cover w-[30px] h-[30px]"></div>
                    <p class="text-gray-500 text-[14px] font-medium">
                      Restie Antiquin
                    </p>
                    <i
                      *ngIf="!isDropdownOpen"
                      class="ph-bold ph-caret-down"
                    ></i>
                    <i *ngIf="isDropdownOpen" class="ph-bold ph-caret-up"></i>
                  </button>
                </div>
                <div
                  class="absolute hidden bg-white right-[-10] z-50 mt-2 w-56 origin-top-right rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                  [class.!flex]="isDropdownOpen"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="menu-button"
                >
                  <div class="flex flex-col w-full" role="none">
                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                    <button class="flex justify-between items-center w-full px-4 py-2 hover:bg-gray-50">
                      <div class="flex items-center gap-[5px]">
                      <div class="bg-avatar bg-cover w-[30px] h-[30px]"></div>
                      <p class="text-gray-500 text-[14px] font-medium">Restie Antiquin</p>
                    </div>
                      <i class="ph ph-check"></i>
                    </button>

                    <button class="flex justify-between items-center w-full px-4 py-2 hover:bg-gray-50">
                      <div class="flex items-center gap-[5px]">
                      <div class="bg-avatar bg-cover w-[30px] h-[30px]"></div>
                      <p class="text-gray-500 text-[14px] font-medium">Hernan Jugar</p>
                    </div>
                    </button>
                    <button class="flex justify-between items-center w-full px-4 py-2 hover:bg-gray-50">
                      <div class="flex items-center gap-[5px]">
                      <div class="bg-avatar bg-cover w-[30px] h-[30px]"></div>
                      <p class="text-gray-500 text-[14px] font-medium">John Doe</p>
                    </div>
                    </button>
                  </div>
                </div>
              </div>

              <!--  -->
            </div>
          </div>
          <div class="mt-4">
            <p class="text-erp-gray-400 mb-2">Date created</p>
            <svg
              width="18"
              height="20"
              viewBox="0 0 18 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.3333 1.66675V5.00008M5.66667 1.66675V5.00008M1.5 8.33342H16.5M3.16667 3.33341H14.8333C15.7538 3.33341 16.5 4.07961 16.5 5.00008V16.6667C16.5 17.5872 15.7538 18.3334 14.8333 18.3334H3.16667C2.24619 18.3334 1.5 17.5872 1.5 16.6667V5.00008C1.5 4.07961 2.24619 3.33341 3.16667 3.33341Z"
                stroke="#344054"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="mt-4">
            <p class="text-erp-gray-400 mb-2">Due Date</p>
            <!-- <app-date-picker></app-date-picker> -->
            <!-- <div class="relative max-w-sm">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
              </div>
              <input datepicker type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
            </div> -->
            <app-date-picker></app-date-picker>
          </div>
          <div class="mt-4">
            <p class="text-erp-gray-400 mb-2">Priority</p>
            <div class="priority relative inline-block text-left">
              <div class="flex items-center">
                <button
                  (click)="toggleDropDownPriority()"
                  type="button"
                  class="flex items-center gap-1 py-2 text-sm font-semibold text-gray-900"
                  id="menu-button"
                  aria-expanded="true"
                  aria-haspopup="true"
                >
                  <div
                    class="flex items-center gap-[4px] bg-[#fffaeb] py-[2px] px-[10px] rounded-xl"
                  >
                    <i
                      class="ph-bold ph-caret-up text-[12px] font-black text-[#e1840c]"
                    ></i>
                    <p class="text-erp-warning-700 text-[14px] font-medium">
                      High
                    </p>
                  </div>

                  <!-- <i *ngIf="!isDropdownPriorityOpen"  class="ph-bold ph-caret-down"></i>
                    <i *ngIf="isDropdownPriorityOpen" class="ph-bold ph-caret-up"></i> -->
                </button>
              </div>
              <div
              class="priority-icon absolute hidden bg-white right-[-10] z-50 mt-2 w-[300px] h-fit origin-top-right rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              [class.!flex]="isDropdownPriorityOpen"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="menu-button"
            >
              <div class="flex flex-col w-full" role="none">
                <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                <button class="hover:bg-gray-50">
                <div class="flex items-center gap-[4px] bg-[#f8f9fc] px-[10px] py-[2px] w-fit my-[10px] mx-[14px] rounded-xl">
                    <i class="ph-bold ph-caret-down text-[12px] font-black text-[#363f72]"></i>
                    <p class="text-[#363f72] text-[14px] font-medium">Low</p>
                </div>
              </button>
              <button class="hover:bg-gray-50">
                <div class="flex items-center justify-center gap-[4px] bg-[#eff8ff] px-[10px] py-[2px] w-fit my-[10px] mx-[14px] rounded-xl">
                    <i class="ph-fill ph-dot-outline text-[12px] font-black text-[#175cd3]"></i>
                    <p class="text-[#175cd3] text-[14px] font-medium">Medium</p>
                </div> 
              </button>
                <button class="hover:bg-gray-50">
                <div class="flex items-center justify-between pr-[14px]">
                <div class="flex items-center gap-[4px] bg-[#fffaeb] px-[10px] py-[2px] w-fit my-[10px] mx-[14px] rounded-xl">
                  <i class="ph-bold ph-caret-up text-[12px] font-black text-[#e1840c]"></i>
                  <p class="text-erp-warning-700 text-[14px] font-medium">High</p>
              </div>
              <i class="ph ph-check"></i>
            </div> 
          </button>
            <button class="hover:bg-gray-50">
                <div class="flex items-center justify-center gap-[4px] bg-[#fef3f2] px-[10px] py-[2px] w-fit my-[10px] mx-[14px] rounded-xl">
                    <i class="ph-bold ph-caret-double-up text-[12px] font-black text-[#f04438]"></i>
                    <p class="text-[#b42318] text-[14px] font-medium">Urgent</p>
                </div> 
              </button>      
              </div>
            </div>
            </div>
          </div>

          <div class="mt-4 border border-solid border-erp-gray-200"></div>
          <div class="mt-6">
            <p>Cover</p>

            <label
              class="custum-file-upload h-[100px] w-full rounded-xl flex flex-col gap-[5px] cursor-pointer items-center justify-center border border-erp-gray-200 bg-white p-[1.5rem]"
              for="file"
            >
              <div class="icon">
                <div class="flex items-center justify-center">
                  <div class="bg-upload bg-cover h-[40px] w-[40px]"></div>
                </div>
              </div>
              <div class="text flex flex-col items-center justify-center">
                <div class="flex gap-[5px]">
                  <p class="text-erp-primary-700 text-[14px] font-medium">
                    Add file
                  </p>
                  <p class="text-[14px] text-erp-gray-500">or drag files</p>
                </div>
              </div>
              <input type="file" id="file" />
            </label>
          </div>
          <div class="mt-8 flex items-center">
            <button class="flex items-center px-2 py-2 bg-red-50 rounded-lg">
              <svg
                width="18"
                height="20"
                viewBox="0 0 18 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.5 4.99984H3.16667M3.16667 4.99984H16.5M3.16667 4.99984V16.6665C3.16667 17.1085 3.34226 17.5325 3.65482 17.845C3.96738 18.1576 4.39131 18.3332 4.83333 18.3332H13.1667C13.6087 18.3332 14.0326 18.1576 14.3452 17.845C14.6577 17.5325 14.8333 17.1085 14.8333 16.6665V4.99984H3.16667ZM5.66667 4.99984V3.33317C5.66667 2.89114 5.84226 2.46722 6.15482 2.15466C6.46738 1.8421 6.89131 1.6665 7.33333 1.6665H10.6667C11.1087 1.6665 11.5326 1.8421 11.8452 2.15466C12.1577 2.46722 12.3333 2.89114 12.3333 3.33317V4.99984M7.33333 9.1665V14.1665M10.6667 9.1665V14.1665"
                  stroke="#FF0000"
                  stroke-width="1.67"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <button class="text-red-500 ml-2" (click)="openDialog()">
                Delete this ticket
              </button>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
