<p>home works!</p>

<button class="btn sm">hello</button>

<div class="bg-dark">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, facere? Molestias quod assumenda soluta officiis provident accusantium maiores reprehenderit perferendis ea. Veritatis nobis, ipsa minus animi repudiandae illum facilis cumque rerum obcaecati sint libero iusto rem nulla vitae aperiam voluptate architecto! Quae perspiciatis, aliquid, in ab porro nihil odio eius amet dolore numquam necessitatibus quisquam accusantium obcaecati vero dolorem dolorum illum reprehenderit velit accusamus asperiores. Incidunt unde distinctio accusantium nesciunt iusto ipsam quae accusamus omnis earum nulla odio, voluptatibus, et ex inventore! Quod, cumque aliquam iste, debitis consequatur dolor iure reiciendis accusamus, ex totam reprehenderit iusto in ullam? Exercitationem officiis natus molestias fugit veniam expedita? Unde quidem recusandae aut iusto vel expedita placeat illo at. Cumque dignissimos velit ad recusandae.
</div>