<div class="fixed top-0 z-50 w-full bg-white h-[72px] border-b border-erp-gray-100 flex flex-row justify-between items-center px-[90px] max-sm:px-[16px]">
  <button 
    class="group relative w-6 h-6 lg:hidden" 
    (click)="toggleNavMenu()"
  >
    <div 
      class="absolute top-1/4 w-full h-[2px] bg-erp-gray-500 group-hover:bg-erp-gray-900 transition-all"
      [ngClass]="{ 'rotate-45 top-1/2': isNavMenuOpen, 'rotate-0 top-1/4': !isNavMenuOpen }"
    ></div>
    <div 
      class="absolute top-1/2 w-full h-[2px] bg-erp-gray-500 group-hover:bg-erp-gray-900 transition-all"
      [ngClass]="{ 'opacity-0': isNavMenuOpen, 'opacity-100': !isNavMenuOpen }"
    ></div>
    <div 
      class="absolute top-3/4 w-full h-[2px] bg-erp-gray-500 group-hover:bg-erp-gray-900 transition-all"
      [ngClass]="{ '-rotate-45 top-1/2': isNavMenuOpen, 'rotate-0 top-3/4': !isNavMenuOpen }"
    ></div>
  </button>

  <div class="flex flex-row justify-start items-center gap-12">
    <a routerLink="/">
      <img src="assets/images/target-logo.svg" alt="logo" class="h-8" />
    </a>

    <div class="hidden lg:flex flex-row justify-start items-center gap-8 font-medium text-erp-gray-700">
      
    </div>
  </div>

  <div class="hidden lg:flex flex-row justify-start items-center gap-2">
    <div class="button flex items-center gap-[20px]">
      <button
        routerLink="/login"
        class=" text-erp-gray-900 text-[14px] font-medium w-[115px] h-[40px] rounded-lg hover:bg-[#3e1182] hover:text-white"
      >
        Log in
      </button>
      <button
        routerLink="/signup"
        class=" text-white text-[14px] font-medium w-[115px] h-[40px] rounded-lg bg-[#3e1182] hover:bg-white hover:border-2 border-[#3e1182] hover:text-erp-gray-900"
      >
        Sign up
      </button>
    </div>   
  </div>

  <div class="lg:hidden"></div>
</div>

<div 
  class="absolute top-[72px] z-50 w-full px-8 bg-white flex flex-col justify-between items-stretch transition-all overflow-hidden"
  [ngClass]="{ 
    'h-[calc(100dvh_-_72px)] py-8': isNavMenuOpen, 
    'h-0 py-0': !isNavMenuOpen 
  }"
>
  <div class="flex flex-col justify-start items-stretch gap-8">
    <div class="button flex flex-col items-center gap-[20px]">
      <button
        routerLink="/login"
        class=" text-erp-gray-900 text-[14px] font-medium w-[115px] h-[40px] rounded-lg hover:bg-[#3e1182] hover:text-white"
      >
        Log in
      </button>
      <button
        routerLink="/signup"
        class=" text-white text-[14px] font-medium w-[115px] h-[40px] rounded-lg bg-[#3e1182] hover:bg-white hover:border-2 border-[#3e1182] hover:text-erp-gray-900"
      >
        Sign up
      </button>
    </div>

  </div>

  <button class="self-start">Logout</button>
</div>
<div class="flex flex-col">
  
  <section
    class="main-container z-10 h-[50rem] px-[90px] pt-[2rem] bg-hero-section bg-cover bg-center bg-no-repeat flex items-center w-full max-sm:h-[50rem] max-sm:pt-[120px] max-sm:px-[16px] max-sm:flex-col max-sm:gap-[30px] max-sm:h-90"
  >
    <div
      class="hero-content text-white flex flex-col gap-[15px] max-sm:max-w-full"
    >
      <p class="text-5xl font-black max-sm:text-[32px] max-sm:text-center">
        Achieve your
      </p>
      <h1
        class="text-[168px] font-black opacity-15 leading-none max-sm:text-[64px] max-sm:text-center"
      >
        GOALS
      </h1>
      <p class="text-base font-normal max-sm:text-xs max-sm:text-center w-[60%] max-sm:w-full">
        Empower your team to achieve peak productivity for
        coordination and unparalleled efficiency.
      </p>
      <div class="button flex pt-[18px] gap-[20px] max-sm:justify-center">
        <button class="bg-white text-black w-[142px] h-[40px] rounded-lg ">
          Get started
        </button>
        <button
          class="border border-white text-white w-[142px] h-[40px] rounded-lg hover:bg-white hover:text-black "
        >
          Learn more
        </button>
      </div>
    </div>
    <div
      class="bg-hero-ticket w-full rounded-lg h-[510px] bg-contain bg-no-repeat max-sm:bg-contain max-sm:w-[315px] max-sm:w-[303px]"
    ></div>
  </section>
  <section class="main-container flex flex-col gap-[60px] max-sm:gap-[20px] bg-[#F2EBF8] mt-[-120px] py-[4rem] max-sm:pt-[12rem]">
    <div class="section-header px-[90px] w-2/4 max-sm:w-full max-sm:px-[16px]">
      <h2 class="text-2xl font-medium text-erp-gray-900 max-sm:text-[16px]">TARGET 101</h2>
      <h1 class="text-[32px] font-medium text-erp-gray-900 max-sm:text-[20px]">
        A productive powerhouse
      </h1>
      <p class="text-gray-700 max-sm:text-[16px]">
        Simple, flexible, and powerful. All it takes are boards, lists, and
        cards to get a clear view of who's doing what and what needs to get
        done. Learn more in our guide for getting started.
      </p>
    </div>
    <div class="content flex gap-[60px] pl-[90px] max-sm:flex-col-reverse max-sm:px-[16px] max-sm:gap-[20px]">
      <div class="cards flex flex-col h-[220px] w-full gap-[30px] justify-around max-sm:flex-nowrap max-sm:flex-row max-sm:justify-start max-sm:overflow-x-auto">
        <button
          class="boards  flex-shrink-0 max-sm:w-[100%] max-sm:h-[183px] text-left rounded-xl p-[20px] focus:bg-[#ffff] focus:shadow-lg focus:border-[7px] focus:border-l-erp-primary-700 focus:border-r-0 focus:border-t-0 focus:border-b-0 flex flex-col gap-[15px]"
        >
          <h1 class="text-xl font-medium text-erp-gray-900 max-sm:text-[16px]">Boards</h1>
          <p class="text-erp-gray-700 max-sm:text-[14px]">
            Target boards keep tasks organized and work moving forward. In a
            glance, see everything from "things to do" to "aww yeah, we did it!"
          </p>
        </button>
        <button
          class="Lists flex-shrink-0 max-sm:w-[100%] max-sm:h-[183px] text-left rounded-xl p-[20px] flex flex-col gap-[15px] focus:bg-[#ffff] focus:shadow-lg focus:border-[7px] focus:border-l-erp-primary-700 focus:border-r-0 focus:border-t-0 focus:border-b-0"
        >
          <h1 class="text-xl font-medium text-erp-gray-900 max-sm:text-[16px]">Lists</h1>
          <p class="text-erp-gray-700 max-sm:text-[14px]">
            The different stages of a task. Start as simple as To Do, Doing or
            Done-or build a workflow custom fit to your team's needs. There's no
            wrong way to Target."
          </p>
        </button>
        <button
          class="Cards flex-shrink-0 max-sm:w-[100%] max-sm:h-[183px] first-line: text-left rounded-xl p-[20px] flex flex-col focus:bg-[#ffff] gap-[15px] focus:shadow-lg focus:border-[7px] focus:border-l-erp-primary-700 focus:border-r-0 focus:border-t-0 focus:border-b-0"
        >
          <h1 class="text-xl font-medium text-erp-gray-900 max-sm:text-[16px]">Cards</h1>
          <p class="text-erp-gray-700 max-sm:text-[14px]">
            Cards represent tasks and ideas and hold all the information to get
            the job done. As you make progress, move cards across lists to show
            their status.
          </p>
        </button>
      </div>
      <div
        class="image-content bg-kanban bg-cover rounded-l-lg bg-no-repeat h-[40rem] w-[200%] max-sm:w-full max-sm:h-[175px]"
      ></div>
    </div>
  </section>
  <section class="main-container flex flex-col gap-[60px] max-sm:gap-[20px] py-[60px]">
    <div class="section-header px-[90px] w-full max-sm:px-[16px]">
      <h2 class="text-2xl font-medium text-erp-gray-900 max-sm:text-[16px]">TARGET IN ACTION</h2>
      <h1 class="text-[32px] font-medium text-erp-gray-900 max-sm:text-[20px]">
        Workflows for any project, big or small
      </h1>
    </div>
    <div class="cards flex flex-row flex-nowrap align gap-[30px] px-[90px] pb-[60px] overflow-x-auto max-sm:px-[16px]">
      <div
        class="Cards flex-shrink-0  w-[20rem] h-[17rem] relative text-left rounded-xl p-[20px] flex flex-col my-auto gap-[15px] shadow-lg border-[60px] border-t-[#FF7452] border-r-0 border-l-0 border-b-0"
      >
        <!-- <i class="ph-duotone ph-folder-simple absolute top-[-22px] text-[40px] bg-white text-[#FFB9A8]"></i> -->
        <div class="bg-icon1 h-[60px] w-[60px] absolute top-[-30px]"></div>
        <h1 class="text-xl font-medium text-erp-gray-900 pt-4">
          Project Management
        </h1>
        <p class="text-erp-gray-700">
          Keep tasks in order, deadlines on track, and team members aligned with
          Trello.
        </p>
      </div>
      <div
        class="Meetings flex-shrink-0 w-[20rem] h-[17rem] relative text-left rounded-xl p-[20px] flex flex-col my-auto gap-[15px] shadow-lg border-[60px] border-t-[#2684FF] border-r-0 border-l-0 border-b-0"
      >
        <!-- <i class="ph-duotone ph-folder-simple absolute top-[-22px] text-[40px] bg-white text-[#FFB9A8]"></i> -->
        <div class="bg-icon2 h-[60px] w-[60px] absolute top-[-30px]"></div>
        <h1 class="text-xl font-medium text-erp-gray-900 pt-4">
          Meetings
        </h1>
        <p class="text-erp-gray-700">
          Empower your team meetings to be more productive, empowering, and dare we say-fun
        </p>
      </div>
      <div
        class="Onboarding flex-shrink-0 w-[20rem] h-[17rem] relative text-left rounded-xl p-[20px] flex flex-col my-auto gap-[15px] shadow-lg border-[60px] border-t-[#57D9A3] border-r-0 border-l-0 border-b-0"
      >
        <!-- <i class="ph-duotone ph-folder-simple absolute top-[-22px] text-[40px] bg-white text-[#FFB9A8]"></i> -->
        <div class="bg-icon3 h-[60px] w-[60px] absolute top-[-30px]"></div>
        <h1 class="text-xl font-medium text-erp-gray-900 pt-4">
          Onboarding
        </h1>
        <p class="text-erp-gray-700">
          Onboarding to a new company or project is a snap with Trello’s visual layout of to-do’s, resources, and progress tracking.
        </p>
      </div>
      <div
        class="Task flex-shrink-0 w-[20rem] h-[17rem] relative text-left rounded-xl p-[20px] flex flex-col my-auto gap-[15px] shadow-lg border-[60px] border-t-[#FFC400] border-r-0 border-l-0 border-b-0"
      >
        <!-- <i class="ph-duotone ph-folder-simple absolute top-[-22px] text-[40px] bg-white text-[#FFB9A8]"></i> -->
        <div class="bg-icon4 h-[60px] w-[60px] absolute top-[-30px]"></div>
        <h1 class="text-xl font-medium text-erp-gray-900 pt-4">
          Task management
        </h1>
        <p class="text-erp-gray-700">
          Use Trello to track, manage, complete, and bring tasks together like the pieces of a puzzle, and make your team’s projects cohesive success every time.
        </p>
      </div>
    </div>
  </section>
  <footer class="bg-[#3e1182] flex justify-between items-center h-[70px] text-[14px] text-white px-[90px] max-sm:px[16px] max-sm:h-[90px] max-sm:items-center max-sm:flex-col max-sm:text-center max-sm:py-5">
    <p>Copyright © 2018 Target</p>

    <div class="icons flex gap-[32px] text-[18px]">
      <i class="ph-fill ph-facebook-logo"></i>
      <i class="ph-fill ph-twitter-logo"></i>
      <i class="ph-fill ph-instagram-logo"></i>
      <i class="ph-fill ph-github-logo"></i>
    </div>
  </footer>
</div>