<div
  class="main-container min-h-dvh bg-hero-section bg-cover bg-no-repeat flex items-center w-full
  md:max-sm:flex flex-col"
>
  <div class="hero-content px-[90px] text-white flex flex-col gap-0">
    <p class="text-5xl font-black">Achieve your</p>
    <h1 class="text-[168px] font-black opacity-15 leading-none">GOALS</h1>
    <p class="text-base font-normal"
      >Empower your team to achieve peak productivity for <br />
      coordination and unparalleled efficiency.</p
    >
    <div class="button flex pt-[18px] gap-[20px]">
      <button class="bg-white text-black w-[142px] h-[40px] rounded-lg">
        Get started
      </button>
      <button
        class="border border-white text-white w-[142px] h-[40px] rounded-lg hover:bg-white hover:text-black"
      >
        Learn more
      </button>
    </div>
  </div>
  <div class="bg-hero-ticket w-[535px] h-[510px] bg-cover"></div>
</div>
