<div class="d-flex align-items-center justify-content-center">
  <img src="assets/images/target-logo.svg" alt="">
</div>

<div class="d-flex align-items-center justify-content-center overlay">
  <div class="card-container login">
    <div class="d-flex align-items-center justify-content-center m-b-20">
      <div>
        <div class="text-center">
          <p class="font-h3 semiBold text-gray-900">Log in</p>
        </div>
        <div class="text-center">
          <p class="text-gray-500">Welcome back! Please enter your details.</p>
        </div>
      </div>
    </div>
    <div class="input-text">
      <p class="font-sm-2 text-gray-700">Email</p>
      <input type="text" placeholder="Enter your email" class="inputs-md m-l-5 m-t-5">
    </div>
    <div class="input-text text-gray-700 m-t-10">
      <p class="font-sm-2">Password</p>
      <input type="password" placeholder="******" class="inputs-md m-l-5 m-t-5">
    </div>
    <div class="d-flex align-items-center justify-content-between m-t-20">
      <div>
        <p>Create an account</p>
      </div>
      <div>
        <p>Forgot Password</p>
      </div>
    </div>
    <button>
      Sign in
    </button>
    <button>
      Continue with Google
    </button>

  </div>
</div>

