.overlay{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;

   &.logo{
    bottom: torem(400);
   }
}

.card-container{
    height: fit-content;
    box-shadow: torem(5) torem(5) torem(50) torem(20) rgba(0, 0, 0, 0.15);
    border-radius: torem(8);
    margin-left: torem(20);
    margin-right: torem(20);
    margin-bottom: torem(30);
    padding: torem(20) torem(60);

    &.login{
      width: torem(424);
      height: torem(508);
      border-radius: torem(12);
    }
}