.m{
  &-t{
    &-5{ margin-top: torem(5); }
    &-10{ margin-top: torem(10); }
    &-20{ margin-top: torem(20); }
    &-30{ margin-top: torem(30); }
    &-40{ margin-top: torem(40); }
    &-100{ margin-top: torem(100); }
  }
  &-r{
    &-2{ margin-right: torem(2); }
    &-6{ margin-right: torem(6); }
    &-10{ margin-right: torem(10); }
    &-20{ margin-right: torem(20); }
    &-24{ margin-right: torem(24); }
  }
  &-b{
    &-10{ margin-bottom: torem(10); }
    &-20{ margin-bottom: torem(20); }
    &-30{ margin-bottom: torem(30); }
  }
  &-l{
    &-5{ margin-left: torem(5); }
    &-10{ margin-left: torem(10); }
    &-14{ margin-left: torem(14); }
    &-20{ margin-left: torem(20); }
    &-24{ margin-left: torem(24); }
    &-30{ margin-left: torem(30); }
    &-45{ margin-left: torem(45); }
    &-48{ margin-left: torem(48); }
  }
}

.p{
  &-t{ 
    &-5{ padding-top: torem(5); }
    &-10{ padding-top: torem(10); }
    &-20{ padding-top: torem(20); }
    &-24{ padding-top: torem(24); }
  }
  &-r{
    &-5{ padding-right: torem(5); }
    &-10{ padding-right: torem(10); }
  }
  &-b{
    &-5{ padding-bottom: torem(5); }
    &-10{ padding-bottom: torem(10); }
  }
  &-l{
    &-5{ padding-left: torem(5); }
    &-10{ padding-left: torem(10); }
    &-20{ padding-left: torem(20); }
  }

}